.App {
  text-align: center;
}
.display{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 5px;

}
.margin{
  margin: 5px;
}
.del-btn{
  padding: 3px;
  color: white;
  background-color: rgba(0, 0, 0, 0.541);
}